/* HTML要素、汎用性の高い要素＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
body{
  text-align: center;
  background-color: #e0e0e0;
}
button{
  text-align: center;
  border-radius: 1rem;
  padding-block: 0.3rem;
  margin-bottom: 0.1rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
}

.border{
  margin-left: auto;
  margin-right: auto;
  border: 0.3rem solid black;
  border-radius: 1rem;
  max-width: 32rem;
  margin-block-end: 1rem;
  z-index: 10;
}

.title{
  display: flex;
  justify-content: center;
}

/* Area要素＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
#battle-area{
  position: relative;
}

.status-area{
  font-size: 0.8rem;
  border: none;
  border-radius: 1.5rem;
  color: white;
  background-color: #333;
  text-align: center;
  margin-top: 20px;
  margin-inline: auto;
  max-width: fit-content;
  margin-bottom: 1.5rem;
}
#player-status{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-inline: 1rem;
}
#enemy-status{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  margin-inline: 1rem;
}

.select-class-area > button{
  justify-content: center;
  min-height: 40px;
  margin-inline: 30px;
  min-width: 120px;
  margin-bottom: 10px;
}
.select-equipment-area{
  justify-content: center;
  min-height: 40px;
  margin-inline: 30px;
  min-width: 120px;
  margin-bottom: 10px;
}

/* アイテム系の子要素＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* 共通クラス */
.hidden {
  display: none;
}
#player-item-status{
  display: flex;
  padding-bottom: .7rem;
}
#toggle-area {
  display: flex;
  justify-content: center;
  margin-bottom: 0.15rem;
  flex-wrap: wrap;
  max-width: 100%;
}

.toggle-group {
  margin-block: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  max-width: 95%;
}
.toggle-section {
  display: block;
  flex-direction: column;
  align-items: center;
}
.toggle-section > button{
  width: fit-content;
}
#toggle-heal-items{
  background-color: #a8f8b9;
}
#toggle-heal-items:hover{
  background-color: #d8fde0;
  box-shadow: 0 0.5rem 1.2rem rgba(255, 230, 230, 0.5);
}

#toggle-equip-items{
  color: rgb(0, 0, 0);
  background-color: #a35d5d;
}
#toggle-equip-items:hover{
  background-color: #dc9d9d;
  box-shadow: 0 0.5rem 1.2rem rgba(255, 230, 230, 0.5);
}
#skill-area{
  display: flex;
  justify-content: center;
  margin-bottom: 0.15rem;
  flex-wrap: wrap;
  max-width: 100%;
}
#toggle-skill-list{
  background-color: #f8ca6f;
  margin-bottom: 1rem;
}
#toggle-skill-list:hover{
  background-color: #f4e5a2;
  transition: background-color 0.5s ease;
  box-shadow: 0 0.5rem 1.2rem rgba(172, 172, 2, 0.5);

}
.item-list {
  margin-inline: 1.2rem;
  margin-block: 0.5rem;
  padding: 0.2rem;
  border: 3px solid black;
  border-radius: 20px;
  width: 11rem;
  min-height: fit-content;
  box-sizing: border-box;
  text-align:start;
}
.item-list > button{

  font-size: small;
  min-width: 9rem;
  margin: 0.5rem;
}

  /* 個別カラー */
#heal-items {
  background-color: rgb(185, 241, 174);
  border-color: rgb(81, 255, 0);
}
#equip-items {
  background-color: rgb(192, 192, 192);
  border-color: rgb(84, 84, 84);
}
#skill-list {
  background-color: rgb(241, 232, 169);
  border-color: yellow;
  margin-inline: auto;
  width: fit-content;
}
#equipped-items{
  display: block;
  font-size: 0.9rem;
  margin-block: 0.8rem 0.5rem;
  margin-inline-start: 3%;
  text-align: center;
  border: none;
  border-radius: 1rem;
  background-color: #9a9999;
  min-height: auto;
  min-width: 50%;
  max-width: 50%;
}
#equipped-items>button:hover{
  background-color: #cef8d7;
  transition: background-color 0.5s ease;
}
#equipped-items>button{
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin:0.5rem;
}

/* バトルログ系＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
#battle-log ,#after-battle-log{
  display: block;
  color: #333;
  border: .3rem solid black;
  border-radius: 1.2rem;
  font-size: 0.9rem;
  margin-inline: auto;
  margin-block: 1rem;
  padding: 0.8rem;
  text-align: center;
  max-width: 35%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 5rem;
  max-height: 10rem;
}

#battle-log {
  background-color: #fffefe;
}
#after-battle-log {
  background-color: #f0fff3;
}

#background-area{
  border: .2rem solid black;
  border-radius: 1.2rem;
  max-width: 35%;
  max-height: 10rem;
  min-height: 1rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  color: #ffb993;
  background-color: #333;
  overflow-y: auto;
  overflow-x: hidden;
}

  /* ボタン系 */
.command-area > button{
    width: 25%;
    margin-bottom: 5rem;
}
#default-attack{
  border: 0.3rem solid rgb(0, 0, 0);
  border-radius: 0.1rem;
  color: white;
  background-color: rgb(240, 65, 65);
  max-width: fit-content;
}
#default-attack:hover{
  background-color:#f05e5e ;
}
#next-stage{
  font-size: 1rem;
  max-width: fit-content;
  border: 0.5rem;
  border-radius:1rem;
  color: rgb(0, 0, 0);
  background-color: rgb(175, 91, 211);
}
/* モーダル機能 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#instruction-border{
  position: absolute;
  left: 40%;
  border-radius: 10px;
  background-color: #fcfcfc;
  margin-top: -0.1rem;
  margin-bottom: 0%;
  width: fit-content;
  min-height: 5rem;
}
#instruction-box {
  align-content: center;
  margin-left: auto;
  min-height: 5rem;
  margin-right: auto;
  border: 0.3rem solid black;
  border-radius: 10px;
  max-width: 40rem;
  margin-bottom: 0%;
  z-index: 10;
  padding-block: 0%;
}

#instruction{
  font-size: 0.9rem;
  max-height: 5rem;
  padding: 1rem;
}
