body{
    text-align: center;
    background-color: #aeedb2;
}
button{
    text-align: center;
    border-radius: 1rem;
    padding-block: 0.3rem;
    min-width: 6rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease;
}
button:hover{
    background-color: rgb(92, 98, 103);
    cursor: pointer;
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
}
#safety-area{
    background-color: #71ba76;
}
#prepare-battle-btn{
    color:aliceblue;
    background-color: brown;
    padding-inline: 2rem;
    border: none;
    border-radius: 0.5rem;
}
#prepare-battle-display:hover{
    background-color: rgb(167, 100, 100);
}

.title{
    display: flex;
    justify-content: center;
  }

.border{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 500px;
    margin-block-end: 1rem;
    z-index: 10;
}
#player-name-input{
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.selected-class {
    font-size: large;
    color: rgb(255, 0, 0);
  }

#select-warrior:hover{
    
    background-color: rgb(177, 175, 175);
}
#select-mage:hover{
    background-color: rgb(177, 175, 175);
}